body {
  background-color: #9E1B32;
}

.main-container {
  min-height: 100vh;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container{
  min-height: 20vh;
  background-color: #828A8F;

  text-align: center;
  display: flex;
  
  align-items: center;
}
#pageHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-6{
  display: flex;
  justify-content: center;
  align-items: center;
}
#driversTable {
  max-height: 100px;
}
.taxi{
  display: flex;
  max-height: 500px;
  max-width: 600px;
  justify-content: center;
}
#changeDriverTable{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.btn{

  background-color:#9E1B32;
  border: none;
}
.cardSet{
  min-height: 300px;
}
#driversTableAllData{
  max-height: 100px;
}

.table-row:hover {
  cursor: pointer;
}

.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 500px;
}
